{% extends 'form.html' %}

{% block form_extends%}
    <button id="vc_btn" class="btn btn-primary">发送验证码</button>
{% endblock %}

{% block script_extends %}
    <script type="text/javascript">
        let vc_btn = $('#vc_btn');
        vc_btn.click(function(event){ //是click不是onClick
            event.preventDefault();  //很重要，防止当成submit填写表单
            let tip = $('#tip');
            tip.empty(); // 记得每次去掉错误提示
            // 判断邮箱是否为空
            let email = $('#id_email').val();
            if(email === ''){
                tip.text('* 邮箱为空，请输入！');
                return false;
            }
            $.ajax({
                url: '{% url 'send_vc' %}',
                type: 'GET',
                cache: false,
                data:{
                    'email':email,
                    'vc_name':'vc_send_change_email',
                    'email_name':'email_send_change_email',
                    'send_vc_not_registered': 'True', //修改邮箱，需要判断邮箱是否已经被注册，若未注册，则发送验证码（异或）
                },
                success:function(data){
                    console.log(data);
                    if(data['status']==='SUCCESS'){
                        alert(data['message']);
                    }else{
                        alert(data['message']);
                    }
                },
                error:function (xhr) {
                    console.log(xhr)
                }
            });
            change_button_type();
        });
        // 将按钮变灰，并设置为倒计时60s（记得把后台也设置一下）
        function change_button_type(){
            vc_btn.addClass('disabled');
            vc_btn.attr('disabled', true);
            let time = 30;
            vc_btn.text(time + 's');
            let interval = setInterval(() => {
                if (time <= 0) {
                    clearInterval(interval);  // 不要忘了这个
                    vc_btn.removeClass('disabled');
                    vc_btn.attr('disabled', false);
                    vc_btn.text('发送验证码');
                    return false;
                }
                time--;
                vc_btn.text(time + 's');
            }, 1000);
        }
    </script>
{% endblock %}